
a {
    color: #F44;
    text-decoration: none;
     font-weight: bold;
}

input[type="submit"] {    
    font-weight: bold;
}

fieldset {
    background-color: #E0E0FF;
    border: 2px outset gray;
    border-radius: 10px;
}