
a {
    font-weight: bold;
}

input[type="submit"] {    
    font-weight: bold;
}

fieldset {
    background-color: #E0E0FF;
    border: 2px outset gray;
    border-radius: 10px;
   
}
legend {
    background-color: white;
    border: 2px outset gray;
    padding: 0.2em;
}
body {
    background-color: #F5F5F5;
    padding-left: 1em;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    margin-bottom: 1.2em;
}
input {

    float: left;
}


