<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
    
    <debug />
    
    <!-- needed for security tag lib -->
    <beans:bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" /> 
    
    <http pattern="views/home.jsp" security="none" />
     
    <http use-expressions="true">
        
        <intercept-url pattern="/**" access="isAuthenticated()"/>
        <form-login/>
        <logout logout-url="/logout" logout-success-url="/index" />
    
    </http>
    
    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="plaintext" />
            <user-service>
                <user name="bereket" password="2222" authorities="ROLE_USER" />
                <user name="kokob" password="3333" authorities="ROLE_USER" />
                <user name="zman" password="1111" authorities="ROLE_USER, ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
 


</beans:beans>
